textarea {
  height: 100vh;
}

#app-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

#wrapper {
  position: relative;
  // width: 100%;
  flex: 1;
  align-self: stretch;
  // height: calc(100% - 1px);
  // object-fit: contain;
  overflow: hidden;
  // border: 1px solid rgb(0, 183, 255);
}

#canvasTop,
#canvasBottom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // width: 100%;
  // height: 100%;
  // object-fit: contain;
  display: block;
}
