textarea {
  height: 100vh;
}

#app-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

#wrapper {
  position: relative;
  flex: 1;
  align-self: stretch;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
